$blue: #7ac0cc;
$white: #eaf9fb;
$dark_blue: #008299;
$orange: #eea010;
$black: #606060;

html {
  background-color: $blue;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Meiryo", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

h1,
p {
  color: $black;
}

a {
  text-decoration: none;
}
